section.currency {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

section.currency label {
  margin: 0;
  margin-right: 5px;
}

section.plan {
  display: flex;
  flex-direction: row-reverse;
}

section.plan label {
  margin: 0;
  padding: 0 15px;
}

section.plan label .h4 {
  margin: 0;
}